<div class="row">
    <div class="col-md-8">
        <div class="card card-plain">
            <div class="image">
                <img src="assets/img/thumb.jpg" alt="..." />
                <div class="filter">
                    <button type="button" class="btn btn-neutral btn-simple">
                        <i class="fa fa-bookmark-o"></i> Bookmark
                    </button>
                    <button type="button" class="btn btn-neutral btn-simple">
                        <i class="fa fa-align-left"></i> Read article
                    </button>
                </div>
            </div>
            <div class="content">
                <p class="category">Creative</p>
                <a class="card-link" href="#">
                    <h4 class="title">This is a very beautiful field in our office and Get Shit Done Kit PRO, the most wanted bootstrap kit is here. We would love to hear your feedback about it... </h4>
                </a>
                <div class="footer">
                    <div class="author">
                        <a class="card-link" href="#">
                            <img src="assets/img/default-avatar.png" alt="..." class="avatar">
                            <span> Elena </span>
                        </a>
                    </div>
                    <div class="stats pull-right">
                        <i class="fa fa-clock-o"></i> 7 min read
                    </div>
                </div>
            </div>
        </div> <!-- end card -->
    </div>
    <div class="col-md-4">
        <div class="card card-plain">
            <div class="image">
                <img src="assets/img/thumb.jpg" alt="..." />
                <div class="filter">
                    <button type="button" class="btn btn-neutral btn-simple">
                        <i class="fa fa-bookmark-o"></i> Bookmark
                    </button>
                    <button type="button" class="btn btn-neutral btn-simple">
                        <i class="fa fa-align-left"></i> Read article
                    </button>
                </div>
            </div>
            <div class="content">
                <p class="category">News</p>
                <a class="card-link" href="#">
                    <h4 class="title">Get Shit Done Kit PRO, the most wanted bootstrap kit is here and... </h4>
                </a>
                <div class="footer">
                    <div class="author">
                        <a class="card-link" href="#">
                            <img src="assets/img/default-avatar.png" alt="..." class="avatar">
                            <span> Alex </span>
                        </a>
                    </div>
                    <div class="stats pull-right">
                        <i class="fa fa-clock-o"></i> 17 min read
                    </div>
                </div>
            </div>
        </div> <!-- end card -->
    </div>
</div>