<section class="row">
    <div class="col-md-6">
        <div class="img-container">
            <img src="assets/img/thumb.jpg" alt="..." />
        </div>
    </div>
    <div class="col-md-6">
        <h5>Fast Development</h5>
        <p>Creative Tim stands for everything a designer looks in his work: clean, functions interfaces for great products. The number of friends with similar attitude can only increase over time, since the vision for a better web is a wish of many designers.</p>
        <p>Be sure to enroll and browse around for anything that may bring extra value to your project and ask Tim wherever you see something missing.</p>
    </div>
</section>
