<footer class="footer footer-big footer-default top-border">
    <div class="container">
        <h3 class="title">Recommendations</h3>
        <div class="row">
            <div class="col-md-5">
                <div class="card card-background">
                    <div class="image">
                        <img src="../assets/img/thumb.jpg" alt="..." />
                        <div class="filter"></div>
                    </div>
                    <div class="content">
                        <p class="category">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>

                            <a href="#" class="pull-right">
                                <i class="fa fa-heart"></i>
                            </a>
                        </p>

                        <a href="#"><br>
                            <h4 class="title">Exclusive Penthouse in Downtown<br>
                            </h4>
                        </a>
                    </div>
                    <div class="footer">
                        <div class="author">
                            <a href="#">
                                <img src="../assets/img/default-avatar.png" alt="..." class="avatar">
                                <span>Radu</span>
                            </a>
                        </div>
                        <div class="stats pull-right">
                            <a href="#">
                                <i class="fa fa-comments"></i> 89
                            </a>
                        </div>
                        <div class="stats pull-right">
                            <a href="#">
                                <i class="fa fa-heart"></i> 341
                            </a>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-7">
                <div class="card card-background">
                    <div class="image">
                        <img src="../assets/img/thumb.jpg" alt="..." />
                        <div class="filter"></div>
                    </div>
                    <div class="content">
                        <p class="category">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                            <a href="#" class="pull-right btn-hover">
                                <i class="fa fa-heart-o"></i> Like
                            </a>
                        </p>
                        <a href="#"><br>
                            <h4 class="title">How to Learn Architectural Drafting Quickly and Design Your Own Custom Home Floor Plans</h4>

                        </a>
                    </div>
                    <div class="footer">
                        <div class="author">
                            <a href="#">
                                <img src="../assets/img/default-avatar.png" alt="..." class="avatar">
                                <span> Alex Paduraru</span>
                            </a>
                        </div>
                        <div class="stats pull-right">
                            <a href="#">
                                <i class="fa fa-comments"></i> 143
                            </a>
                        </div>
                        <div class="stats pull-right">
                            <a href="#">
                                <i class="fa fa-heart"></i> 745
                            </a>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-8">
                <div class="card card-background">
                    <div class="image">
                        <img src="../assets/img/thumb.jpg" alt="..." />
                        <div class="filter"></div>
                    </div>
                    <div class="content">
                        <p class="category">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>

                            <a href="#" class="pull-right btn-hover">
                                <i class="fa fa-heart-o"></i> Like
                            </a>
                        </p>

                        <a href="#"><br>
                            <h4 class="title">10 Free tips that will make you avoid the most common mistakes in business<br>
                            </h4>

                        </a>
                    </div>
                    <div class="footer">
                        <div class="author">
                            <a href="#">
                                <img src="../assets/img/default-avatar.png" alt="..." class="avatar">
                                <span>Elena</span>
                            </a>
                        </div>
                        <div class="stats pull-right">
                            <a href="#">
                                <i class="fa fa-comments"></i> 589
                            </a>
                        </div>
                        <div class="stats pull-right">
                            <a href="#">
                                <i class="fa fa-heart"></i> 2,386
                            </a>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>

            <div class="col-md-4">
                <div class="card card-background">
                    <div class="image">
                        <img src="../assets/img/thumb.jpg" alt="..." />
                        <div class="filter"></div>
                    </div>
                    <div class="content">
                        <p class="category">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>

                            <a href="#" class="pull-right">
                                <i class="fa fa-heart"></i>
                            </a>
                        </p>
                        <a href="#"><br>
                            <h4 class="title">What music to listen to when you work?</h4>

                        </a>
                    </div>
                    <div class="footer">
                        <div class="author">
                            <a href="#">
                                <img src="../assets/img/default-avatar.png" alt="..." class="avatar">
                                <span>Creative Tim</span>
                            </a>
                        </div>
                        <div class="stats pull-right">
                            <a href="#">
                                <i class="fa fa-comments"></i> 23
                            </a>
                        </div>
                        <div class="stats pull-right">
                            <a href="#">
                                <i class="fa fa-heart"></i> 225
                            </a>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div>

        <hr />
        <div class="social-area text-center">
            <h5>Join us on</h5>
            <a href="#" class="btn btn-social btn-round btn-facebook">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#"  class="btn btn-social btn-round btn-twitter">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="btn btn-social btn-round btn-google">
                <i class="fa fa-google-plus"></i>
            </a>
            <a href="#" class="btn btn-social btn-round btn-pinterest">
                <i class="fa fa-pinterest"></i>
            </a>
            <a href="#" class="btn btn-social btn-round btn-linkedin">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
        <div class="copyright">
            &copy; 2016 Creative Tim, made with love
        </div>
    </div>
</footer>
