<div class="section ">
    <div class="container container-border">
        <div class="title">
            <h4>Related Products</h4>
            <p>Take a look, we think they would be great togheter</p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Lutwyche</h4>
                        </a>
                        <p class="description">
                            Blue check wool and cashmere-blend blazer
                        </p>
                        <div class="footer">
                            <span class="price"> € 3,330</span>
                            <button class="btn btn-danger btn-simple btn-hover pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Lutwyche</h4>
                        </a>
                        <p class="description">
                            Blue check wool and cashmere-blend blazer
                        </p>
                        <div class="footer">
                            <span class="price"> € 3,330</span>
                            <button class="btn btn-danger btn-simple  pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Remove from wishlist">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
            <div class="col-md-4">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Lutwyche</h4>
                        </a>
                        <p class="description">
                            Blue check wool and cashmere-blend blazer
                        </p>
                        <div class="footer">
                            <span class="price"> € 3,330</span>
                            <button class="btn btn-danger btn-simple btn-hover pull-right" rel="tooltip" title="" data-placement="left" data-original-title="Add to wishlist">
                                <i class="fa fa-heart-o"></i>
                            </button>
                        </div>
                    </div>
                </div> <!-- end card -->
            </div>
        </div> <!-- end row -->
    </div>
</div>