<div class="section">
    <div class="container container-border">
        <div class="title">
            <h4>Viewed Products</h4>
            <p>These are your recently viewed products</p>
        </div>
        <ul class="row" id="flexiselDemo2">
            <li class="col-md-2">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Lutwyche</h4>
                        </a>
                    </div>
                </div> <!-- end card -->
            </li>
            <li class="col-md-2">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="../assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Canali</h4>
                        </a>
                    </div>
                </div> <!-- end card -->
            </li>
            <li class="col-md-2">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="../assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Lutwyche</h4>
                        </a>
                    </div>
                </div> <!-- end card -->
            </li>
            <li class="col-md-2">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="../assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Lutwyche</h4>
                        </a>
                    </div>
                </div> <!-- end card -->
            </li>

            <li class="col-md-2">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="../assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Lutwyche</h4>
                        </a>
                    </div>
                </div> <!-- end card -->
            </li>

            <li class="col-md-2">
                <div class="card card-product card-plain">
                    <div class="image">
                        <a href="#">
                            <img src="../assets/img/product.jpg" alt="..."/>
                        </a>
                    </div>
                    <div class="content">
                        <a href="#">
                            <h4 class="title">Lutwyche</h4>
                        </a>
                    </div>
                </div> <!-- end card -->
            </li>
        </ul>
    </div>
</div>
