<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Shit Done Kit</title>

    <link rel="stylesheet" href="{{root}}assets/vendors/bootstrap3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">

    <link rel="stylesheet" href="{{root}}assets/vendors/css/examples.css">


    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Grand+Hotel|Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="{{root}}assets/vendors/css/pe-icon-7-stroke.css" rel="stylesheet" />
  </head>
  <body>

    {{> body}}

    <!--  jQuery and Bootstrap core files    -->
    <script src="{{root}}assets/vendors/js/jquery.js"></script>
    <script src="{{root}}assets/vendors/js/jquery-ui.custom.min.js"></script>
    <script src="{{root}}assets/vendors/bootstrap3/js/bootstrap.min.js"></script>

    <!--  Plugins -->
    <script src="{{root}}assets/vendors/js/gsdk-checkbox.js"></script>
    <script src="{{root}}assets/vendors/js/gsdk-morphing.js"></script>
    <script src="{{root}}assets/vendors/js/gsdk-radio.js"></script>
    <script src="{{root}}assets/vendors/js/gsdk-bootstrapswitch.js"></script>
    <script src="{{root}}assets/vendors/js/bootstrap-select.js"></script>
    <script src="{{root}}assets/vendors/js/bootstrap-datepicker.js"></script>
    <script src="{{root}}assets/vendors/js/chartist.min.js"></script>
    <script src="{{root}}assets/vendors/js/jquery.tagsinput.js"></script>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

    <!--  Get Shit Done Kit PRO Core javascript 	 -->
    <script src="{{root}}assets/vendors/js/get-shit-done.js"></script>

    <script src="{{root}}assets/js/app.js"></script>

    <script type="text/javascript">
        var big_image;
        var transparent = true;

        $().ready(function(){
            responsive = $(window).width();

            $(window).on('scroll', checkScroll);

            if (responsive >= 768){
                big_image = $('.parallax-image').find('img');

                $(window).on('scroll',function(){
                    parallax();
                    checkScroll();
                });
            }

        });

        function checkScroll(){
            if($(document).scrollTop() > 260 ) {
                if(transparent) {
                    transparent = false;
                    $('nav[role="navigation"]').removeClass('navbar-transparent').addClass('navbar-default');
                }
            } else {
                if( !transparent ) {
                    transparent = true;
                    $('nav[role="navigation"]').addClass('navbar-transparent').removeClass('navbar-default');
                }
            }
        }

        var parallax = function() {
            var current_scroll = $(this).scrollTop();

            oVal = ($(window).scrollTop() / 3);
            big_image.css('top',oVal);
        };
    </script>

    <!-- If you have retina @2x images on your server which can be sent to iPhone/iPad/MacRetina, please uncomment the next line, otherwise you can delete it -->
    <!-- <script src="assets/js/retina.min.js"></script> -->
  </body>
</html>